/* general */
body {
  font-family: "Lato", sans-serif;
}

/* nav bar */
.nav-bar {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 3% 2% 0 0;
}

.nav-bar-link {
  text-decoration: none;
  color: #4d4d4d;
  margin-left: 100px;
  font-size: 25px;
}

a:hover {
  color: black;
}

.blog-nav-item {
  text-decoration: none;
  margin-left: 100px;
  font-size: 25px;
  color: #0080a9;
}

.style-swap-button {
  margin-left: 100px;
  font-size: 15px;
  background-color: #0080a9;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  padding: 10px;
  padding-left: 13px;
}

.style-swap-button:hover,
.style-swap-button:focus {
  background-color: #16437e;
}

/* body */
.pdf {
  float: left;
  margin-left: 5%;
  margin-top: 6%;
  margin-bottom: 5%;
}

.top-right-content {
  float: right;
  width: 42%;
  margin: 8% 5% 5% 3%;
}

p {
  font-size: 18px;
  color: #4d4d4d;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #0080a9;
}
